<section class="call-to-action">
    <div class="container">
        <p class="title">{{module.title}}</p>
        <p class="description">{{module.description}}</p>
        <a href="{{module.link.url}}" class="bnt-sim">{{module.link.title}}</a>
    </div>
</section>