
    .header-top{
        background-color: transparent;
        padding: 15px 0 15px;
        position: fixed;
        width: 100%;
        z-index: 9999;
        
        .header-top-inner{
            position: relative;
           
            .container{
                position: relative;
                .logo-col{ 
                   
                    @include full-width {
                        padding-left: 0;
                    }
                    img{
                        width: 100%;
                        max-width: 70px;
                        height: auto;
                        transition: max-width .3s;
                        @include tablet {
                            max-width: 140px;  
                        }
                    }
                    
                    .logo-support {
                        padding-left: 10px;
                        color: #fff;
                        position: relative;
                        font-size: 1rem;
                        max-width: 220px;
                        
                        span { 
                            margin-bottom: 3px;
                            display: block;
                            background-color: $green-1;
                            height: 18px;
                            line-height: 22px;
                            font-weight: 600;
                            font-size: 8px;
                            max-width: -webkit-max-content;
                            max-width: -moz-max-content;
                            max-width: max-content;
                            border-radius: 50px 50px 50px 0;
                            color: $black-1;
                            padding: 0 8px;
                        }
                    }
                }
                .burger-wrapper {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    top: 0px;
                    z-index: 100;
                    padding: 1px 0 1px 20px;
                    margin-right: 8px;
                    
                }
                .burger {
                    width: 48px;
                    height: 33px;
                    position: relative;
                    overflow: hidden;
                    @include tablet{
                        width: 66px;
                        height: 44px;
                    }
                    &:hover{
                        animation: bounce2 2s ease infinite;
                        span {
                            background-color: $orange-1;
                            
                        }
                    }
                    span {
                        display: block;
                        background-color: #fff;
                        position: absolute;
                        width: 38px;
                        height: 4px;
                        border-radius: 2px;
                        transition: 0.3;
                        @include tablet{
                            width: 56px;

                        }
                        
                        &:nth-child(1) {
                            top: 0;
                        }
                        &:nth-child(2) {
                            top: 11px;
                            width: 38px;
                            left: 6px;
                            @include tablet{
                                top: 16px;
                                width: 56px;
                                left: 10px;
                            }
                        }
                        &:nth-child(3) {
                            bottom: 7px;
                            @include tablet{
                                bottom: 8px;
                            }
                           
                        }
                        &:nth-child(4) {
                            opacity: 0;
                            position: absolute;
                            display: block;
                            width: 43px;
                            height: 2px;
                            top: 27px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background-color: $gray-1;
                            transition: .2s ease-out;
                        }
                        &:nth-child(5) {
                            opacity: 0;
                            position: absolute;
                            display: block;
                            width: 43px;
                            height: 2px;
                            top: 27px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background-color: $gray-1;
                            transition: .2s ease-out;
                        }
                    }
                }
                .burger-wrapper.visible {
                     
                    .burger {
                        height: 45px;
                        span {
                            &:nth-child(3) {
                                opacity: 0;
                            }
                            &:nth-child(2) {
                                opacity: 0;
                            }
                            &:nth-child(1) {
                                opacity: 0;
                            }
                            &:nth-child(4) {
                                opacity: 1;
                                transform: translateY(0) rotate(45deg);
                            }
                            &:nth-child(5) {
                                opacity: 1;
                                transform: translateY(0) rotate(-45deg);
                            }
                        }
                    }
                }
                
                .navigation{
                    display: none;
                    
                    .menu{
                        max-width: 700px;
                        @include laptop{
                            display: flex;
                        }
                        .menu-item{
                            color:$white;
                            font-family: 'Anton';
                            
                            font-size: rem(36); 
                            line-height: rem(54);
                            text-transform: uppercase;
                            text-align: center;
                            @include tablet{
                                font-size: rem(64); 
                                line-height: rem(93);  
                            }
                            &:hover{
                                
                                cursor: pointer;
                                color:$orange-1;
                            }
                            
                            &:active {
                                color:$orange-4;
                            }
                        }
                        .current{
                            color:$orange-4;
                        }
                    }
                    .lang-block{
                        display: flex;
                        width: 250px;
                        position: absolute;
                        top: 26px;
                        left: 20px;
                        align-items: center;
                        @include laptop {
                            width: 350px;
                            left: 40px;
                        }
                        #current_lang{
                           font-size: 16px;
                           color: #D75228;
                           font-weight: 700;
                           line-height: 24px;
                           text-transform: uppercase; 
                           @include laptop {
                            font-size: rem(20);
                            line-height: rem(30);
                        }
                        }
                        .language-selector {
                            background-color: #D9D9D917;
                            border-radius: 20px;
                            margin-left: 13px;
                            padding: 3px 15px;
                            display: flex;
                            justify-content: space-around;
                            width: 60%;
                            .lang{
                                font-size: 16px;
                                color: #F5F5F5;
                                font-weight: 700;
                                line-height: 24px;
                                text-transform: uppercase; 
                                @include laptop {
                                    font-size: rem(20);
                                    line-height: rem(30);
                                }
                            }
                        }
                    }
                    .order-button{
                        font-size: rem(16);
                        background-image: linear-gradient(to right, #18d656 0%, #28e882 100%);
                        line-height: 36px;
                        padding: 0 24px;
                        text-transform: uppercase; 
                    }
                }
                .active{
                    width: 100%;
                    position: fixed;
                    display: block;
                    top: 0;
                    z-index: 99;
                    background-image: url(../images/menu-mobile-pattern.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-color: #0E0E0E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    animation: fade-out 2s linear ;
                    flex-direction: column;
                    transition: .2s;
                    height: 100vh;
                    @include tablet{
                        width: 100vw;
                        right: 0; 
                        left: 0;
                        height: 100vh;
                        background-size: cover;
                        background-image: url(../images/menu-background-desktop.svg); 
                    }
                    @keyframes fade-in {
                        from { opacity: 0; }
                        to { opacity: 1; }
                      }
                    .menu{
                        display: grid;
                        grid-template-columns: 1fr;
                        .menu-item{
                            padding: 0px 10px 8px 0;
                        }
                    }
                    .order-button{
                        padding: 8px 24px;
                        grid-template-columns: 1fr;
                        height: 35px;
                        display: block;
                        margin-top: 20px;
                        max-width: 200px;
                        text-align: center;
                        padding: 0;
                    }
                }

            }
        }
    }
    .black{ 
        background: #0E0E0EEE;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        .logo-col{
            img{
                @include desktop{
                    max-width: 110px!important;
                }
               
            }
        }
    }
    .full-black{
        background: #0E0E0E;
    }
    .activate{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .lang-mobile{
        display: flex;
        justify-content: end;
        padding-right: 25px;
        @include tablet{
            display: none;
        }
        .lang{
            color:$white;
            margin-right: 10px;
            text-transform: uppercase;
        }
        .green{
            color:$green-1;
        }

    }
    #closelang{
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ffffff;
        font-size: 10px;
        cursor: pointer;
    }